.tab-pane #customer { width: 100%; text-align:center;border-collapse:collapse}
.tab-pane table{ width: 100%;}
.nav-tabs .nav-link.active {background-color: #e43c5c;color: #fff;}
.nav-tabs .nav-link {color:#000}
table tr {height: 45px;}
table button {border:none;}
.modal.show.d-block {background-color: rgba(0, 0, 0, 0.4);padding-top: 100px;}
.modal-content {border-radius: 12px;border: none;width: 80%;margin: 0 auto}
.modal-header {border-bottom: none;padding: 1.2rem 1.5rem;background-color: #f8f9fa;font-weight: bold;font-size: 1.1rem;}
.modal-body textarea {font-size: 1rem;padding: 1rem;border-radius: 8px;resize: vertical;line-height:1rem}
.modal-footer {justify-content: flex-end;padding: 1rem 1.5rem;border-top: none;}
.modal-footer .btn-primary {background-color: #F54D6E;border: none;padding: 0.5rem 1.5rem;font-weight: bold;border-radius: 6px;}
.modal-footer .btn-secondary {background-color: #6c757d;border: none;padding: 0.5rem 1.5rem;border-radius: 6px;margin-right: 0.5rem;}

.booking-container {display: flex;overflow-x: hidden;}
.room-list {width: 100px;flex-shrink: 0;background: #f9f9f9;border-right: 1px solid #ddd;position: sticky;left: 0;z-index: 2;margin-top: 34px}
.room-item {text-align: center;padding:10px;height: 39px}
.calendar-scroll {overflow-x: scroll;width: 100%;}
.calendar-header {display: flex;position: sticky;top: 0;background: white;z-index: 1;}
.date-cell {min-width: 80px;padding: 5px;border-bottom: 1px solid #ccc;text-align: center;}
.calendar-row {display: flex;}
.cell.booked { background: teal; }
.cell.available { background: white; }

.cell {position: relative;width: 100px;min-width: 80px;height: 40px;border: 1px solid #eee;}
.booking-bar {position: absolute;top: 0;bottom: 0;background-color: #F54D6E;color: white;padding-left: 4px;font-size: 13px;line-height: 30px;white-space: nowrap;}
.loading-overlay {position: fixed;top: 0;left: 0;width: 100vw;height: 100vh;background: rgba(255,255,255,0.8);display: flex;flex-direction: column;align-items: center;justify-content: center;z-index: 9999;}

@media (max-width: 768px) {
    #customer table{ width: 700px;}
    #checkIn table{ width: 500px;}
    #checkOut table{ width: 400px;}
}

