.react-calendar {background-color: white;border-radius: 10px;padding: 10px;border: 1px solid #bbb;width: 100% !important;}
.react-calendar__tile--active {background-color: #F54D6E !important;color: white !important;}
.react-calendar__tile--now {background-color: #fff !important;color: black !important;}
.react-calendar__tile:hover,
.react-calendar__tile:focus {background-color: #F54D6E !important;color: inherit;cursor: pointer;}
.selected-range {background-color: #ffe0e6;color: black;}
.selected-checkin {background-color: #F54D6E !important;color: white;font-weight: bold;}
.selected-checkout {background-color: #F54D6E !important;color: white;font-weight: bold;}
.checkDate {margin-bottom: 50px;}
.checkDate b {font-size: 20px;}

/* 동기화 로딩 애니메이션 */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
